<!-- <p>comp-2 works!</p> -->


<div class="Box1">

    <div class="b1">

     <mat-form-field >
       <mat-label></mat-label>
       <mat-select>
         @for (food of foods; track food) {
           <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
         }
       </mat-select>
     </mat-form-field>
     </div>
     
    <div class="b1">

     <mat-form-field>
       <mat-label></mat-label>
       <mat-select>
         @for (food of foods; track food) {
           <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
         }
       </mat-select>
     </mat-form-field>


    </div>




    <div class="b1" id="btn">

      <button mat-raised-button color="primary">Apply changes</button>
      
    </div>

</div>
